<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Codarcevents">
        <!-- Landing Activity - App Entry Point -->
        <activity
            android:name=".view.LandingActivity"
            android:exported="true"
            android:theme="@style/Theme.Codarcevents">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Unified Dashboard - Main Dashboard for all users -->
        <activity
            android:name=".view.UnifiedDashboardActivity"
            android:exported="false"
            android:theme="@style/Theme.Codarcevents" />

        <!-- Legacy Activities (kept for reference) -->
        <activity
            android:name=".view.EntrantDashboardActivity"
            android:exported="false"
            android:theme="@style/Theme.Codarcevents" />

        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/Theme.Codarcevents" />
    </application>

</manifest>